---
layout: page
---

<!--page content-->

  <!--Ficha del autor-->
<div class="autor-pagina sombra">
    <div class="ficha-container">
      <div class="ficha-title">
        <h2>
          {{ page.nombre }} <a class="morel a2a_dd" href="https://www.addtoany.com/share">
                            <i class="fa fa-share-alt">
                                <script async src="https://static.addtoany.com/menu/page.js"></script>
                            </i></a>
        </h2>
      </div>
        <div class="ficha-extract" style="">
        <p>
          {{ content }}
        </p>
      </div>
      <div class="ficha-metadata">
        Nació en <a class="metadata-input"><label for="listas">{{ page.city-born }}</label></a> el <a class="metadata-input"><label for="listas">29 de noviembre de 1781</label></a>.<br>
        Falleció en <a class="metadata-input"><label for="listas">Santiago de Chile</label></a> el <a class="metadata-input"><label for="listas">15 de octubre de 1865</label></a>.
      </div>
    </div>
    <div class="portada" style="">
      <div class="img-frame">  
      <img src="../img/Raymond%20Monvoisin%20-%20AndresBello_retrato.jpg" class="responsive">
      </div>
      <div class="actions-h">
       
      </div>      
    </div>
</div>        
        <!--fin de autores-->
        <!--Obras-->
        