
  <div class="header-style-2">
        <div class="container">
          <div class="row">
            <div>
              <div class="hero-content-v2" style="margin-top:10px!important;">
                <h3><strong> Obras recuperadas por {{ page.title }} en MOREL</strong></h3>
                <div class="posts">
                  {% for book in site.books %}
                    {% if book.repositorio == page.title %}

<a href="{{ book.url | relative_url }}" class="post-link">
    <h2>{{ book.title }}</h2>
    <h4 style="font-weight: 200">{{ book.author }}{% if book.author2 %}, {{ book.author2 }}{% endif %}{% if book.author3 %}, {{ book.author3 }}{% endif %}</h4>
    <br style="line-height: 1em;">
  </a>
                     {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
  <!-- Blog content + sidebar -->
  <section id="post" class="blog">
    <div class="container">
      <div class="row">                   
        <div>
          {% include side-bar.html %}
        </div>
      </div>
     </div>
   </section>